.batch-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px; 
    width: 80vw;
}

.batch-title{
    font-family: "Roboto", sans-serif;
    font-size: 25px;    
    font-weight: 600;
    color: black;
}

.batch-content {
    display: flex;
    flex-direction: row;  
    align-items: flex-start;  
    justify-content: space-around;
}

.batch-list{
    width: 30vw;
    border: 1.5px solid #E7E8E9;
    border-radius: 8px;
    padding: 20px;
    gap:20px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.batch-list-title{
    font-family: "Roboto", sans-serif;
    font-size: 20px;    
    font-weight: 600;
    color: black;
}

.batch {
    display: flex;
    flex-direction: column; 
    padding: 10px;
    gap: 10px;
    border: 1px solid #E7E8E9;
    border-radius: 8px;
}

.batch p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;    
    font-weight: 400;
    color: black;
}

.add-batch{
    width: 30vw;
    padding: 20px;
    border: 1.5px solid #E7E8E9;
    border-radius: 8px;
    background-color: white;
} 

.add-batch-title{
    font-family: "Roboto", sans-serif;
    font-size: 20px;    
    font-weight: 600;
    color: black;
}

.batch-form-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5px;
}

.batch-form-group label{
    font-family: "Poppins",serif;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.batch-form-group input{
    font-family: "Poppins", serif;
    color: black;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #E4E4E7;
    border-radius: 5px;
}

.add-batch-button{
    font-family: "Poppins", serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    height: 35px;
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
}


.add-batch-button:hover {
    background-color: #333; 
    cursor: pointer; 
}

.batch-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-batch-button {
    font-family: "Poppins", serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
}

.edit-batch-button:hover {
    background-color: #333; 
    cursor: pointer; 
}

.delete-batch-button {
    font-family: "Poppins", serif;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 14px;
}

.delete-batch-button:hover {
    background-color: #333; 
    cursor: pointer; 
}

